<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-3 py-3">ID</th>
        <th scope="col" class="px-3 py-3">ID de predicción</th>
        <th scope="col" class="px-3 py-3">Tipo de solicitud</th>
        <th scope="col" class="px-3 py-3">ID de usuario</th>
        <th scope="col" class="px-3 py-3">Fecha</th>
        <th scope="col" class="px-3 py-3">Estimación actual</th>
        <th scope="col" class="px-3 py-3">Estimación nueva</th>
        <th scope="col" class="px-3 py-3">Estado</th>
        <th scope="col" class="px-3 py-3">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="px-3 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of changeRequestList(); track $index) {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-3 py-4">{{ item.id }}</td>
        <td class="px-3 py-4">{{ item.prediction_id }}</td>
        <td class="px-3 py-4">{{ item.request_type }}</td>
        <td class="px-3 py-4">{{ item.user_id }}</td>
        <td class="px-3 py-4">{{ item.date }}</td>
        <th
          (click)="showCostEstimation(item.original_prediction_object)"
          scope="row"
          class="px-3 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white hover:underline cursor-pointer"
        >
          Ver
        </th>
        <th
          (click)="
            item.request_type === 'Edición'
              ? showCostEstimation(item.new_prediction_object)
              : ''
          "
          scope="row"
          class="px-3 py-4 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white hover:underline cursor-pointer"
        >
          @if(item.request_type === 'Edición') {Ver} @else { No aplica}
        </th>
        <td class="px-3 py-4">{{ item.status }}</td>

        <td class="px-3 py-4 text-right">
          <a
            (click)="approveRequest(item)"
            class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Aprobar</a
          >
        </td>
        <td class="px-3 py-4 text-right">
          <a
            (click)="rejectRequest(item)"
            class="cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline"
            >Rechazar</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
