<div class="fixed w-full h-full top-0 left-0 p-10 grid place-items-center z-30">
  <div
    class="max-w-lg w-full rounded-lg border bg-card text-card-foreground shadow-sm z-40 border-gray-300 p-6 relative bg-white"
  >
    <div class="flex flex-col space-y-1.5 mb-6">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">
        Detalles de Estimación
      </h3>
      <p class="text-sm text-muted-foreground text-gray-500 font-normal">
        Revise la información completa de la estimación seleccionada.
      </p>
    </div>

    <form class="w-full mx-auto grid grid-cols-2 grid-rows-3 gap-4">
      @for (item of atributos; track $index) {
      <div>
        <label
          for="{{ item.name }}"
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          >{{ item.label }}</label
        >
        <input
          type="{{ item.name }}"
          id="{{ item.name }}"
          class="mb-2 mt-2 flex h-10 w-full rounded-md border font-normal border-input bg-background px-3 py-2 text-sm border-gray-200 focus-visible:ring-ring focus-visible:ring-offset-2"
          required
          value="{{
            item.name === 'total_Cost'
              ? (itemSelected['total_Cost']
                | currency : 'USD' : 'symbol' : '1.2-2')
              : itemSelected.input_list[item.name]
          }}"
        />
      </div>
      }
    </form>

    <app-close-icon
      (click)="closeForm()"
      class="absolute top-5 right-5 cursor-pointer"
    />
  </div>

  <div
    class="fixed z-20 w-full h-full top-0 left-0 bg-gray-900 opacity-70 cursor-pointer"
    (click)="closeForm()"
  ></div>
</div>
