<form
  [formGroup]="form"
  class="mx-auto mt-[10%] bg-white shadow-xl p-6 py-8 border border-gray-200 rounded-md w-full max-w-md"
>
  <img
    src="./assets/images/logo.webp"
    class="w-full mx-auto rounded-md"
    alt=""
  />
  <div class="flex flex-col p-6 pt-4 space-y-1 text-center">
    <p class="text-sm text-gray-500">
      Aplicación para estimación de costos de proyectos de construcción de
      puentes en el Perú
    </p>
  </div>

  <div class="mb-5 flex flex-col gap-3">
    <label
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="username"
      >Usuario</label
    >
    <input
      formControlName="email"
      type="email"
      id="email"
      class="flex h-10 w-full rounded-md border border-gray-200 bg-background px-3 py-2 text-sm placeholder:text-gray-500"
      placeholder="Ingrese su usuario"
      required
    />
  </div>
  <div class="mb-5 flex flex-col gap-3">
    <label
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="username"
      >Contraseña</label
    >
    <input
      formControlName="password"
      type="password"
      id="password"
      class="flex h-10 w-full rounded-md border border-gray-200 bg-background px-3 py-2 text-sm placeholder:text-gray-500"
      required
      placeholder="Ingrese su contraseña"
    />
  </div>

  <button
    (click)="sendForm()"
    type="submit"
    class="inline-flex cursor-pointer items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium h-10 px-4 py-2 w-full bg-black text-white"
    class="cursor-pointer text-white rounded-md text-sm font-medium h-10 px-4 py-2 w-full"
    [ngClass]="{
      'bg-gray-900': !isLoading,
      'bg-[#8B8B8D]': isLoading
    }"
  >
    @if(isLoading) { Iniciando sesión... }@else { Iniciar sesión }
  </button>
</form>
