@if(isUserLoggedIn()){
<nav
  class="p-4 border-gray-200 border-b-1 border-b-gray-200 fixed top-0 left-0 w-full z-10 bg-[#ffffff]"
>
  <ul
    class="max-w-[1400px] mx-auto items-center justify-between flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
  >
    <div class="flex flex-row items-center gap-2">
      <img
        class="rounded-md"
        width="90"
        src="/assets/images/logo-puente.webp"
        alt=""
      />

      <span class="rounded-full px-2 py-1 text-xs font-medium bg-gray-100">
        {{ userLoggedData().role === "admin" ? "Administrador" : "User" }}
      </span>
    </div>
    <div class="flex flex-row gap-6 items-center">
      @if(!isUserLoggedIn()){
      <a routerLinkActive="active" class="block cursor-pointer py-2 px-3"
        >Log in</a
      >

      } @for (item of userLoggedData().role === 'admin' ? headerItemAdminList :
      headerItemUserList; track $index) {
      <a
        (click)="redirect(item.url)"
        class="text-sm font-medium text-gray-500 hover:text-gray-900 cursor-pointer"
        [ngClass]="{
          'text-gray-900 font-semibold': activeItem === item.url,
          'text-gray-500': activeItem !== item.url
        }"
        >{{ item.name }}</a
      >
      }
    </div>

    <div class="flex flex-row gap-2">
      <button
        class="cursor-pointer flex flex-row gap-2 border-1 border-gray-300 rounded-md text-sm items-center px-3 h-9 hover:bg-gray-100"
      >
        <app-question-icon /> Mesa de ayuda
      </button>
      <button
        class="cursor-pointer flex flex-row gap-2 border-1 border-gray-300 rounded-md text-sm items-center px-3 h-9 hover:bg-gray-100"
      >
        <app-message-icon /> Reportar incidente
      </button>
      <button
        (click)="logOut()"
        type="button"
        class="cursor-pointer flex flex-row gap-2 rounded-md text-sm items-center px-3 h-9 hover:bg-gray-100"
      >
        <app-log-out-icon />
        Cerrar sesión
      </button>
    </div>
  </ul>
</nav>

}
