@if(isUserLoggedIn()){
<nav class="p-4 bg-white border-gray-200 dark:bg-gray-900">
  <ul
    class="max-w-[1400px] mx-auto items-center justify-between flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
  >
    <img
      class="bg-white p-2 rounded-md"
      height="30"
      width="120"
      src="/assets/images/image.webp"
      alt=""
    />
    <div class="flex flex-row gap-28 items-center">
      @if(!isUserLoggedIn()){
      <a
        routerLinkActive="active"
        class="block cursor-pointer py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
        >Log in</a
      >

      } @for (item of userLoggedData().role === 'admin' ? headerItemAdminList :
      headerItemUserList; track $index) {
      <a
        (click)="redirect(item.url)"
        routerLinkActive="active"
        class="block cursor-pointer py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
        >{{ item.name }}</a
      >
      } @if(isUserLoggedIn()){
      <button
        (click)="logOut()"
        type="button"
        class="cursor-pointer text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Log out
      </button>

      }
    </div>
  </ul>
</nav>

}
