<div class="fixed w-full h-full top-0 left-0 p-10 grid place-items-center">
  <form
    class="max-w-md w-full mx-auto relative z-1 border-1 border-gray-500 rounded-md p-6 bg-gray-900"
  >
    @for (item of atributos; track $index) {
    <div class="mb-5">
      <label
        for="{{ item.name }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ item.label }}</label
      >
      <input
        type="{{ item.name }}"
        id="{{ item.name }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    }

    <button
      (click)="sendForm()"
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Enviar
    </button>
  </form>

  <div
    class="fixed w-full h-full top-0 left-0 bg-gray-900 opacity-70 cursor-pointer"
    (click)="closeForm()"
  ></div>
</div>
