<div class="fixed w-full h-full top-0 left-0 p-10 grid place-items-center">
  <form
    [formGroup]="form"
    class="max-w-md w-full mx-auto relative z-1 border-1 border-gray-500 rounded-md p-6 bg-gray-900"
  >
    <div class="mb-5">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre</label
      >
      <input
        formControlName="name"
        type="text"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
        placeholder="Nombre"
      />
    </div>

    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
        placeholder="Correo"
      />
    </div>

    <div class="mb-5">
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Teléfono</label
      >
      <input
        formControlName="phone"
        type="phone"
        id="phone"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
        placeholder="Teléfono"
      />
    </div>

    <div class="mb-5">
      <label
        for="state"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Estado</label
      >

      <select
        formControlName="state"
        id="state"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option value="" selected disabled>Seleccione el estado</option>
        <option value="Activo">Activo</option>
        <option value="Suspendido">Suspendido</option>
        <option value="Bloqueado">Bloqueado</option>
      </select>
    </div>

    <div class="mb-5">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
        placeholder="Contraseña"
      />
    </div>

    <div class="mb-5">
      <label
        for="role"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Rol</label
      >

      <select
        formControlName="role"
        id="role"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option value="" selected disabled>Seleccione el rol</option>
        <option value="usuario">usuario</option>
        <option value="admin">admin</option>
      </select>
    </div>

    <div class="w-full flex flex-row justify-center gap-5">
      <button
        (click)="sendForm()"
        type="submit"
        class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        @if(itemToUpdate) {Actualizar} @else {Crear}
      </button>

      <button
        (click)="closeForm()"
        type="submit"
        class="cursor-pointer text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      >
        Cancelar
      </button>
    </div>
  </form>

  <div
    class="fixed w-full h-full top-0 left-0 bg-gray-900 opacity-70 cursor-pointer"
    (click)="closeForm()"
  ></div>
</div>
