<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Tipo de superestructura</th>
        <th scope="col" class="px-6 py-3">Tipo de estribo</th>
        <th scope="col" class="px-6 py-3">Número de tramos</th>
        <th scope="col" class="px-6 py-3">Ancho total (m)</th>
        <th scope="col" class="px-6 py-3">Longitud total (m)</th>
        <th scope="col" class="px-6 py-3">Año de construcción</th>
        <th scope="col" class="px-6 py-3">Costo total</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of costEstimationList(); track $index) {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-6 py-4">{{ item.id }}</td>
        <td class="px-6 py-4">{{ item.input_list.structureType }}</td>
        <td class="px-6 py-4">{{ item.input_list.abutmentType }}</td>
        <td class="px-6 py-4">{{ item.input_list.number_of_Spans }}</td>
        <td class="px-6 py-4">{{ item.input_list.total_Width }}</td>
        <td class="px-6 py-4">{{ item.input_list.total_Length }}</td>
        <td class="px-6 py-4">{{ item.input_list.year }}</td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.total_Cost | currency : "USD" : "symbol" : "1.2-2" }}
        </th>
        <td class="px-6 py-4 text-right">
          <a
            (click)="editItem(item)"
            class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
        <td class="px-6 py-4 text-right">
          <a
            (click)="deleteItem(item)"
            class="cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline"
            >Delete</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
