<div
  class="rounded-lg border bg-card text-card-foreground shadow-sm border-gray-300 p-6 relative z-20 bg-white"
  data-v0-t="card"
>
  <div class="flex flex-col space-y-1.5 mb-6">
    <h3 class="text-2xl font-semibold leading-none tracking-tight">
      Formulario de Estimación
    </h3>
    <p class="text-sm text-muted-foreground text-gray-500 font-normal">
      @if(itemToUpdate){ Complete los campos con las características del puente
      que desea actualizar. } @else { Complete los campos con las
      características del puente para obtener una estimación de costos. }
    </p>
  </div>

  <form
    [formGroup]="form"
    class="w-full mx-auto grid grid-cols-2 grid-rows-3 gap-4"
  >
    <div>
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="numTramos"
        >Tipo de superestructura</label
      >

      <select
        formControlName="abutmentType"
        id="countries"
        class="mb-2 mt-2 flex h-10 w-full rounded-md border font-normal border-input bg-background px-3 py-2 text-sm border-gray-200 focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      >
        <option value="" selected disabled>Seleccione una opción</option>
        @for (item of abutmentTypeList; track $index) {
        <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>

    <div>
      <label class="text-sm font-medium" for="numTramos"
        >Tipo de subestructura</label
      >

      <select
        formControlName="structureType"
        id="countries"
        class="mb-2 mt-2 flex h-10 w-full font-normal rounded-md border border-input bg-background px-3 py-2 text-sm border-gray-200 focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      >
        <option value="" selected disabled>Seleccione una opción</option>

        @for (item of structureTypeList; track $index) {
        <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>

    @for (item of atributos; track $index) {
    <div class="mb-2">
      <label
        for="{{ item.name }}"
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >{{ item.label }}</label
      >
      <input
        formControlName="{{ item.name }}"
        type="number"
        id="{{ item.name }}"
        class="mb-2 mt-2 flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm border-gray-200 focus-visible:ring-ring focus-visible:ring-offset-2 font-normal"
        required
      />
    </div>
    }
  </form>

  <app-close-icon
    (click)="showForm.emit(false)"
    class="absolute top-5 right-5 cursor-pointer"
  />

  <div class="flex flex-col gap-4" [class.reverse]="itemToUpdate">
    <button
      (click)="sendForm()"
      class="cursor-pointer text-white rounded-md text-sm font-medium h-10 px-4 py-2 w-full"
      [ngClass]="{
        'bg-gray-900': !isCalculating,
        'bg-[#8B8B8D]': isCalculating
      }"
    >
      @if(isCalculating) {@if(itemToUpdate){Enviando
      solicitud...}@else{Calculando...}}@else {@if(itemToUpdate){Enviar
      solicitud}@else{Calcular Estimación}}
    </button>
    <div>
      @if(itemToUpdate){
      <label
        for="total_Cost"
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >Costo Estimado:</label
      >
      <input
        formControlName="{{ form.value.total_Cost }}"
        type="text"
        class="mb-2 mt-2 flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm border-gray-200 focus-visible:ring-ring focus-visible:ring-offset-2 font-normal"
        [value]="form.value.total_Cost | currency : 'USD' : 'symbol' : '1.2-2'"
      />

      }@else {
      <div class="p-4 border rounded-lg bg-slate-50 border-gray-300">
        <h3 class="font-medium text-sm text-muted-foreground mb-1">
          Costo Estimado:
        </h3>
        <p class="text-2xl font-bold">
          {{ form.value.total_Cost | currency : "USD" : "symbol" : "1.2-2" }}
        </p>
      </div>
      }
    </div>
  </div>
</div>
