<div
  class="relative z-20 p-6 bg-white border border-gray-300 rounded-lg shadow-sm bg-card text-card-foreground"
  data-v0-t="card"
>
  <div class="flex flex-col space-y-1.5 mb-6">
    <h3 class="text-2xl font-semibold leading-none tracking-tight">
      Formulario de Estimación
    </h3>
    <p class="text-sm font-normal text-gray-500 text-muted-foreground">
      @if(itemToUpdate){ Complete los campos con las características del puente
      que desea actualizar. } @else { Complete los campos con las
      características del puente para obtener una estimación de costos. }
    </p>
  </div>

  <form
    [formGroup]="form"
    class="grid w-full grid-cols-2 grid-rows-3 gap-4 mx-auto mb-2"
  >
    <div>
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="numTramos"
        >Tipo de superestructura</label
      >

      <select
        formControlName="abutmentType"
        id="countries"
        class="flex w-full h-10 px-3 py-2 mt-2 mb-2 text-sm font-normal border border-gray-200 rounded-md border-input bg-background focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      >
        <option value="" selected disabled>Seleccione una opción</option>
        @for (item of abutmentTypeList; track $index) {
        <option value="{{ item.en }}">{{ item.es }}</option>
        }
      </select>
    </div>

    <div>
      <label class="text-sm font-medium" for="numTramos"
        >Tipo de subestructura</label
      >

      <select
        formControlName="structureType"
        id="countries"
        class="flex w-full h-10 px-3 py-2 mt-2 mb-2 text-sm font-normal border border-gray-200 rounded-md border-input bg-background focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      >
        <option value="" selected disabled>Seleccione una opción</option>

        @for (item of structureTypeList; track $index) {
        <option value="{{ item.en }}">{{ item.es }}</option>
        }
      </select>
    </div>

    @for (item of atributos; track $index) {
    <div class="mb-2">
      <label
        for="{{ item.name }}"
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >{{ item.label }}</label
      >
      <input
        formControlName="{{ item.name }}"
        type="number"
        id="{{ item.name }}"
        class="flex w-full h-10 px-3 py-2 mt-2 mb-2 text-sm font-normal border border-gray-200 rounded-md border-input bg-background focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      />
    </div>
    }
    <div class="mb-2">
      <label
        for="project_id"
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >ID del proyecto</label
      >
      <input
        formControlName="project_id"
        type="text"
        id="project_id"
        placeholder="XX-XXXX-XXX-XXX"
        class="flex w-full h-10 px-3 py-2 mt-2 mb-2 text-sm font-normal border border-gray-200 rounded-md border-input bg-background focus-visible:ring-ring focus-visible:ring-offset-2"
        required
      />
    </div>
  </form>

  <app-close-icon
    (click)="showForm.emit(false)"
    class="absolute cursor-pointer top-5 right-5"
  />

  <div class="flex flex-col gap-4" [class.reverse]="itemToUpdate">
    <button
      (click)="sendForm()"
      class="w-full h-10 px-4 py-2 text-sm font-medium text-white rounded-md cursor-pointer"
      [ngClass]="{
        'bg-gray-900': !isCalculating,
        'bg-[#8B8B8D]': isCalculating
      }"
    >
      @if(isCalculating) {@if(itemToUpdate){Enviando
      solicitud...}@else{Calculando...}}@else {@if(itemToUpdate){Enviar
      solicitud}@else{Calcular Estimación}}
    </button>
    <div>
      @if(itemToUpdate){
      <label
        for="total_Cost"
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >Costo Estimado:</label
      >
      <input
        formControlName="{{ form.value.total_Cost }}"
        type="text"
        class="flex w-full h-10 px-3 py-2 mt-2 mb-2 text-sm font-normal border border-gray-200 rounded-md border-input bg-background focus-visible:ring-ring focus-visible:ring-offset-2"
        [value]="form.value.total_Cost | currency : 'USD' : 'symbol' : '1.2-2'"
      />

      }@else {
      <div class="p-4 border border-gray-300 rounded-lg bg-slate-50">
        <h3 class="mb-1 text-sm font-medium text-muted-foreground">
          Costo Estimado:
        </h3>
        <p class="text-2xl font-bold">
          {{ form.value.total_Cost | currency : "USD" : "symbol" : "1.2-2" }}
        </p>
      </div>
      }
    </div>
  </div>
</div>
